<!-- ================= THỐNG KÊ CẢM XÚC ================= -->

    <section class="card">

        <h2>📊 Thống kê tỷ lệ cảm xúc</h2>

        <div class="emotion-stat">

            <div class="emotion-row">
                <span>😀 Happy</span>
                <span id="happy-percent">0%</span>
            </div>

            <div class="emotion-row">
                <span>😐 Neutral</span>
                <span id="neutral-percent">0%</span>
            </div>

            <div class="emotion-row">
                <span>😢 Sad</span>
                <span id="sad-percent">0%</span>
            </div>

            <div class="emotion-row">
                <span>😡 Angry</span>
                <span id="angry-percent">0%</span>
            </div>

            <div class="emotion-row">
                <span>😨 Fear</span>
                <span id="fear-percent">0%</span>
            </div>

            <div class="emotion-row">
                <span>😮 Surprise</span>
                <span id="surprise-percent">0%</span>
            </div>

            <div class="emotion-row">
                <span>🤢 Disgust</span>
                <span id="disgust-percent">0%</span>
            </div>

        </div>

    </section>
