<!-- ================= THỜI GIAN HỆ THỐNG ================= -->

<div class="time-box">

    <div id="clock">
        🕒 00:00:00
    </div>

    <div id="date">
        📅 00/00/0000
    </div>

</div>

<!-- ================= TRẠNG THÁI HỆ THỐNG ================= -->

<div class="system-status">


    <div class="status-item">

        🧠 AI Model:

        <span id="ai-model-status">

            Online

        </span>

    </div>



    <div class="status-item">

        📷 Camera:

        <span id="camera-connect-status">

            Chưa kết nối

        </span>

    </div>



    <div class="status-item">

        💾 Database:

        <span id="database-status">

            Ready

        </span>

    </div>


</div>
